# OSX
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.yarn/

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/debug/
android/app/release/
*.apk
*.aab
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/
*.ipa
*.dSYM.zip
*.dSYM

# Metro bundler
.metro-health-check*

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Env files
.env
.env.local
.env.development
.env.production

# TypeScript
*.tsbuildinfo

# Jest
coverage/

# Editor
.vscode/
.idea/
*.swp
*.swo